name: Flexible Freeze

workflow_dispatch:
on:
  schedule:
    - cron: '0 4 * * *' # Run at 4 AM UTC daily

jobs:
  maintenance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - run: pip install psycopg2-binary
      - name: Run Flexible Freeze
        env:
          DB_CONNECTION: ${{ secrets.DATABASE_URL }}
        run: |
           # usage: flexible_freeze.py [-h] [-m RUN_MIN] [-s MINSIZEMB] [-d DBLIST] [-T TABLES_TO_EXCLUDE]
           # [--exclude-table-in-database EXCLUDE_TABLE_IN_DATABASE] [--no-freeze] [--no-analyze] [--vacuum]
           # [--pause PAUSE_TIME] [--freezeage FREEZEAGE] [--costdelay COSTDELAY] [--costlimit COSTLIMIT] [-t]
           # [--enforce-time] [-l LOGFILE] [-v] [--debug] [-U DBUSER] [-H DBHOST] [-p DBPORT] [-w DBPASS] [-st TABLE]
           python scripts/flexible_freeze.py -U "$DBUSER" -H "$DBHOST" -w "$DBPASS" -m 60 --enforce-time -t
